<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="SublevelRationRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SchoolRationRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="PaperityReport.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SchoolPaperityRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="ClotheReport.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SchoolClotheRep.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SubLevelsArchive.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EpmloyeesArchive.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="SchoolsReport.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Charts.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
