<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="Customers.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Goods.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="GoodTypes.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Recepts.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Repository.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="RepositoryContent.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="RepositoryType.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Transportation.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Units.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Deliveries.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Repository,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
</configuration>
