<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="AreasList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="CitiesList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="CityPartsList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="CustomersList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="GoodsList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="ProvincesList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="SchoolsList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="UsersList.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
</configuration>
