<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <location path="Clothe.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Month.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="Paperity.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DailyRation.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="MonthlyRation.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="School.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,SchoolManager,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditStudentsCount.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditEmployeesCount.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditLevel.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="DisIntegration.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
  <location path="EditGender.aspx">
    <system.web>
      <authorization>
        <deny users="?"/>
        <allow roles="Guest,AreaManager,Administrator"/>
        <deny users="*"/>
      </authorization>
    </system.web>
  </location>
</configuration>
