<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <location path="Areas.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="CalanderWorkly.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="CalanderMonthly.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Cities.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="CityParts.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Cycles.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="CycleGoods.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="Levels.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="SchoolKinds.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
    <location path="SubLevels.aspx">
        <system.web>
            <authorization>
                <deny users="?"/>
                <allow roles="Guest,Administrator"/>
                <deny users="*"/>
            </authorization>
        </system.web>
    </location>
</configuration>
